In [2]:
import pandas as pd
import numpy as np

In [6]:
df1 = pd.DataFrame({
    'A': ['A0', 'A1','A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3'],
})

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7'],
})

In [8]:
pd.concat([df1, df2], ignore_index=True)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [9]:
pd.concat([df1, df2], axis=1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

# Merge

In [16]:
izq = pd.DataFrame({
    'key': ['key0', 'key1', 'key2', 'key3'],
    'A': ['A0', 'A1','A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})

der = pd.DataFrame({
    'key': ['key0', 'key1', 'key2', 'key3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3'],
})

In [17]:
izq

    key   A   B
0  key0  A0  B0
1  key1  A1  B1
2  key2  A2  B2
3  key3  A3  B3

In [18]:
der

    key   C   D
0  key0  C0  D0
1  key1  C1  D1
2  key2  C2  D2
3  key3  C3  D3

In [21]:
izq.merge(der, on='key')

    key   A   B   C   D
0  key0  A0  B0  C0  D0
1  key1  A1  B1  C1  D1
2  key2  A2  B2  C2  D2
3  key3  A3  B3  C3  D3

In [22]:
izq = pd.DataFrame({
    'key': ['key0', 'key1', 'key2', 'key3'],
    'A': ['A0', 'A1','A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})

der = pd.DataFrame({
    'key_2': ['key0', 'key1', 'key2', 'key3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3'],
})

In [23]:
izq.merge(der, on='key')

KeyError: 'key'

In [24]:
izq.merge(der, left_on='key', right_on='key_2')

    key   A   B key_2   C   D
0  key0  A0  B0  key0  C0  D0
1  key1  A1  B1  key1  C1  D1
2  key2  A2  B2  key2  C2  D2
3  key3  A3  B3  key3  C3  D3

In [25]:
izq = pd.DataFrame({
    'key': ['key0', 'key1', 'key2', 'key3'],
    'A': ['A0', 'A1','A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})

der = pd.DataFrame({
    'key_2': ['key0', 'key1', 'key2', np.nan],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3'],
})

In [26]:
der

  key_2   C   D
0  key0  C0  D0
1  key1  C1  D1
2  key2  C2  D2
3   NaN  C3  D3

In [31]:
izq.merge(der, left_on='key', right_on='key_2', how='right')

    key    A    B key_2   C   D
0  key0   A0   B0  key0  C0  D0
1  key1   A1   B1  key1  C1  D1
2  key2   A2   B2  key2  C2  D2
3   NaN  NaN  NaN   NaN  C3  D3